{% extends 'base.html' %}
{% block title %}
    Home
{% endblock title %}
{% block body %}
    <div class='container'>
        <h4 class='mt-4 mb-3 text-center'>Listado de palabras ingrasadas anteriormente</h4>
        {% for palabra in palabras %}
            <div class='row'>
                {% if palabra.check_palindromo == False %}
                    <div id='card-false'
                         class="card text-bg-danger mb-3 mx-auto"
                         style="max-width: 22rem;">
                    {% else %}
                        <div id='card-true'
                             class="card text-bg-success mb-3 mx-auto"
                             style="max-width: 22rem;">
                        {% endif %}
                        <div class="card-header">
                            <a class='text-white text-decoration-none font-weight-bold'
                               id='title-card'
                               href="{{ polindroma.get_absolute_url }}">{{ palabra.palabra }}</a>
                        </div>
                        <div class="card-body">
                            {% if palabra.check_palindromo == False %}
                                <h6 class="card-title">No es palindromo</h6>
                            {% else %}
                                <h6 class="card-title">Es palindromo</h6>
                            {% endif %}
                            {% if palabra.created_at != palabra.update_at %}
                                <p class="card-text">Creado: {{ palabra.created_at }}</p>
                                <p class="card-text">Actualizado: {{ palabra.update_at }}</p>
                            {% else %}
                                <p class="card-text">Creado: {{ palabra.created_at }}</p>
                            {% endif %}
                            <a href="{% url 'index' %}" class="btn btn-light">Nueva palabra</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    
    {% endblock body %}
