<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <!-- NAVBAR -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">Palindromo Test</a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white active"
                               aria-current="page"
                               href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'lista' %}">Entradas</a>
                        </li>
                        {% comment %}
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <p class="nav-link text-white m-0">Hola {{ user.username }}</p>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
                            </li>
                        {% endif %}
                        {% endcomment %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block body %}
        {% endblock body %}
        <script src={% static 'js/bootstrap.min.js' %}></script>
    </body>
</html>
